# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Python distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Logs
*.log

# dotenv
.env

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# SQLite database files (if used)
*.db
*.sqlite3